body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl;
    font-family: "Vazir", "ubunto", "IRAN Sans Regular", sans-serif !important;
}

a {
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: "Vazir";
    src: url('./fonts/vazir/Vazir-Regular.eot');
    src: url('./fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/vazir/Vazir-Regular.woff2') format('woff2'), url('./fonts/vazir/Vazir-Regular.woff') format('woff'), url('./fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

.title_ {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #304f47;
}

.title_2 {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #ff7f47;
}

.title_3 {
    margin: 15px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ff7f47;
}


/* a:hover {
    text-decoration: none;
    color: #ff7f47;
} */